.cropContainer {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 100px;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cropParent {
    background-color: #191C24;
    height: 80vh;
    margin-top: 92px !important;
    margin: auto;
    position: relative;
}

