.cropContainer {
    /* position: absolute; */
   
    
}

.controls {
    /* position: absolute; */
   
    
    display: flex;
   
   
    
}

.cropParent {
    background-color: #191C24;
    height: 80vh;
    margin-top: 92px !important;
    margin: auto;
    display: flex;
    /* position: relative; */
}

